{% load static %}

        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="{% url 'home' %}" class="navbar-brand mx-4 mb-3">
                    <img src="{% static 'img/logo.png' %}" alt="" width="140">
                </a>
                <div class="navbar-nav w-100">
                    <a href="{% url 'home' %}" class="nav-item nav-link {% if header == 'home' %}active{% endif %}"><i class="fa fa-home me-2"></i>Bosh sahifa</a>
                    <a href="{% url 'order' %}" class="nav-item nav-link {% if header == 'order' or header == 'order_detail' %}active{% endif %}"><i class="fa-solid fa-cart-arrow-down me-2"></i>Buyurtmalar</a>
                    <a href="{% url 'dori' %}" class="nav-item nav-link {% if header == 'dori' %}active{% endif %}"><i class="fa-solid fa-suitcase-medical me-2"></i>Dorilar</a>
                    <a href="{% url 'kasallik' %}" class="nav-item nav-link {% if header == 'kasallik' %}active{% endif %}"><i class="fa-solid fa-list-check me-2"></i></i>Kasalliklar</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle {% if header == 'users' or header == 'regions' or header == 'settings' %}active show{% endif %}" data-bs-toggle="dropdown"><i class="fa-solid fa-folder-open me-2"></i>Katalog</a>
                        <div class="dropdown-menu bg-transparent border-0 {% if header == 'users' or header == 'regions' or header == 'settings' %}show{% endif %}">
                            <a href="{% url 'users' %}" class="dropdown-item ms-4 {% if header == 'users' %}active{% endif %}"><i class="fa fa-users me-2"></i>Foydalanuvchilar</a>
                            <a href="{% url 'branch' %}" class="dropdown-item ms-4 mt-2 {% if header == 'regions' %}active{% endif %}"><i class="fa fa-map-marker me-2"></i>Filiallar</a>
                            <a href="{% url 'settings' %}" class="dropdown-item ms-4 mt-2 {% if header == 'settings' %}active{% endif %}"><i class="fa-solid fa-gear me-2"></i>Sozlamalar</a>
                        </div>
                    </div>
{#                    <div class="nav-item dropdown">#}
{#                        <a href="#" class="nav-link dropdown-toggle {% if header == 'translate' %}active show{% endif %}" data-bs-toggle="dropdown"><i class="fa-solid fa-gear me-2"></i>Sozlamalar</a>#}
{#                        <div class="dropdown-menu bg-transparent border-0 {% if header == 'translate' %}show{% endif %}">#}
{#                            <a href="{% url 'translate' %}" class="dropdown-item ms-4 {% if header == 'translate' %}active{% endif %}"><i class="fa fa-language me-2"></i>Tarjimalar</a>#}
{#                            <a href="#" class="dropdown-item ms-4"><i class="fa fa-list me-2"></i>Jurnallar</a>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


