{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}


            <!-- Chart Start -->
            <div class="container-fluid pt-4 px-4 p-4">
                <div class="container-fluid">
                    <nav class="navbar rounded" style="background-color: white">
                      <div class="container-fluid" style="padding: 5px">
                                 <form method="get" action="{% url 'dori' %}" enctype="multipart/form-data" id="dori_search" autocomplete="off" style="margin-right: -20px">
                                    <div class="d-flex col-sm-12 ms-4" style="position: relative">
                                        <i class="fa fa-search" style="position: absolute;padding: 10px"></i>
                                        <input type="text" name="search" class="form-control" value="{{search}}" id="textdori" placeholder="Qidirish..." style="padding: 5px;padding-left: 30px;">
                                        <button class="btn btn-outline-primary ms-2" type="submit">Qidirish</button>
                                    </div>
                                </form>
                                <div>
                                    <button class="rounded me-2" data-bs-toggle="modal" data-bs-target="#DoriModal" style="border: none;background-color: rgba(39, 76, 119, 1);color: white;padding: 5px" id="doriaddbtn">+ Qo'shish</button>
                                </div>
                      </div>
                    </nav>
                </div>
                <div class="container-fluid mt-4">
                    {% if doris %}
                    <table style="width: 100%;">
                        <thead class="table-custom" style="background-color: rgba(39, 76, 119, 1);color: white;">
                            <tr>
                                <th><i class="fa fa-image fs-5" aria-hidden="true"></i></th>
                                <th>Nomi</th>
                                <th>Narxi</th>
                                <th>Qo'shimcha ma'lumot</th>
                                <th>Yaratilgan vaqti</th>
                                <th>Harakatlar</th>
                            </tr>
                        </thead>
                        <tbody id="table-body" style="border: 2px solid #f1f1f1;">
                            {% for dori in doris %}
                            <tr style="background-color: white;border-collapse: collapse; border-bottom: 3px solid #f1f1f1;">
                                <td>
                                    {% if dori.image %}
                                        <button class="btn btn-outline-secondary p-1 btn-sm border-0 image-button" data-bs-toggle="modal" data-bs-target="#ImageModal"
                                            data-image-url="{{ dori.image.url }}"
                                            data-name="{{ dori.name }}">
                                            <i class="fa fa-image fs-5" aria-hidden="true"></i>
                                        </button>
                                    {% endif %}
                                </td>
                                <td class="d-inline-block text-truncate" style="max-width: 150px;">{{ dori.name }}</td>
                                <td>{{ dori.price }}</td>
                                <td class="d-inline-block text-truncate" style="max-width: 250px;">{{ dori.description }}</td>
                                <td>{{ dori.created_at }}</td>
                                <td>
                                    <button class="btn btn-outline-primary btn-sm border-0 edit-button"
                                        data-bs-toggle="modal"
                                        data-bs-target="#DoriModal"
                                        data-id="{{ dori.id }}"
                                        data-product_id="{{ dori.product_id }}"
                                        data-image="{{ dori.image }}"
                                        data-name="{{ dori.name }}"
                                        data-price="{{ dori.price }}"
                                        data-spic="{{ dori.spic }}"
                                        data-package_code="{{ dori.package_code }}"
                                        data-small_product="{{ dori.small_product }}"
                                        data-description="{{ dori.description }}">
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                    </button>
                                    <button class="btn btn-outline-danger btn-sm border-0 delete-button" data-bs-toggle="modal" data-bs-target="#deleteDoriModal"
                                        data-id="{{ dori.id }}">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                    {% pagination page page_size total search %}
                    {% else %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="alert alert-warning" role="alert">
                                    Dorilar mavjud emas
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- Chart End -->




<!-- Image Modal -->
<div class="modal fade" id="ImageModal" tabindex="-1" aria-labelledby="ImageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="ImageModalLabel"></h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <img id="modal-image" src="" class="img-fluid" alt="Dori rasmi" style="max-width: 100%; height: auto;">
      </div>
    </div>
  </div>
</div>



    <!-- Modal -->
<div class="modal fade" id="DoriModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-2">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Dori qo'shish</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'dori' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="recipient-image" class="col-form-label">Dori rasmi</label>
                <input type="file" name="image" class="form-control" id="recipient-image" onchange="previewImage(event)" accept="image/*">

                <!-- Rasm yuklanganda ko‘rinadigan qism -->
                <div id="image-preview" style="display: none; margin-top: 10px;">
                    <span class="ms-2 fw-bold" id="file-name"></span>
                    <input type="hidden" name="delete_image" id="delete_image" value="">
                    <button class="ms-4" type="button" onclick="removeImage()" style="border: none; color: red; padding: 3px 7px; cursor: pointer;border-radius: 50%; font-size: 20px"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>
            </div>
          <div class="mb-3">
            <label for="recipient-product_id" class="col-form-label">product_id</label>
            <input type="text" name="product_id" class="form-control" id="recipient-product_id">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Nomi</label>
            <input type="text" name="name" class="form-control" id="recipient-name" required>
          </div>
          <div class="mb-3">
            <label for="recipient-price" class="col-form-label">Narxi</label>
            <input type="number" name="price" class="form-control" id="recipient-price" required>
          </div>
          <div class="mb-3">
            <label for="spic" class="col-form-label">SPIC</label>
            <input type="number" name="spic" class="form-control" id="spic">
          </div>
          <div class="mb-3">
            <label for="package_code" class="col-form-label">Package Code</label>
            <input type="number" name="package_code" class="form-control" id="package_code">
          </div>
          <div class="mb-3">
            <input type="checkbox" name="small_product" class="form-check-input" id="small_product">
            <label for="small_product" class="form-check-label">Kichik qadoq</label>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Qo'shimcha ma'lumot</label>
            <textarea class="form-control" name="description" id="message-text"></textarea>
            <small class="form-text" style="color:red">{{ error_message }}</small>
          </div>
          <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Bekor qilish</button>
            <button type="submit" class="btn" style="background-color: rgba(39, 76, 119, 1);color: white">Saqlash</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Delete Modal -->
<div class="modal fade" id="deleteDoriModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Haqiqatdan o'chirilsinmi?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="#" class="d-flex justify-content-end">
            {% csrf_token %}
            <button type="button" class="btn btn-outline-primary me-2" data-bs-dismiss="modal">Bekor qilish</button>
            <button type="submit" class="btn btn-danger">O'chirish</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block foot %}
<script>
    const imageButtons = document.querySelectorAll('.image-button');
    const modalImage = document.getElementById("modal-image");

    imageButtons.forEach(button => {
        button.addEventListener("click", function () {
            const imageUrl = this.getAttribute("data-image-url");
            const doriName = this.getAttribute("data-name");
            modalImage.src = imageUrl;
            document.getElementById("ImageModalLabel").textContent = doriName;
        });
    });
function previewImage(event) {
    var input = event.target;
    var fileName = input.files[0]?.name;

    if (fileName) {
        document.getElementById("file-name").textContent = fileName;
        document.getElementById("image-preview").style.display = "inline-block";
        input.style.display = "none";

        document.getElementById("delete_image").value = "";
    }
}

function removeImage() {
    var input = document.getElementById("recipient-image");

    document.getElementById("file-name").textContent = "";
    document.getElementById("image-preview").style.display = "none";
    document.getElementById("delete_image").value = "true";
    input.value = "";
    input.style.display = "block";
}
</script>
    <script>

    // Edit dori modal
    document.addEventListener('DOMContentLoaded', function () {
    const editButtons = document.querySelectorAll('.edit-button');
    const modal = document.getElementById('DoriModal');
    const modalTitle = modal.querySelector('.modal-title');
    const productIdInput = modal.querySelector('input[name="product_id"]');
    const titleInput = modal.querySelector('input[name="name"]');
    const imageInput = modal.querySelector('input[name="image"]');
    const priceInput = modal.querySelector('input[name="price"]');
    const spicInput = modal.querySelector('input[name="spic"]');
    const package_codeInput = modal.querySelector('input[name="package_code"]');
    const small_productInput = modal.querySelector('input[name="small_product"]');
    const descriptionInput = modal.querySelector('textarea[name="description"]');
    const form = modal.querySelector('form');

    const imagePreview = document.getElementById("image-preview");
    const fileNameSpan = document.getElementById("file-name");

    const addButton = document.getElementById('doriaddbtn');
    addButton.addEventListener('click', function () {
        productIdInput.value = '';
        titleInput.value = '';
        priceInput.value = '';
        spicInput.value = '';
        package_codeInput.value = '';
        small_productInput.value = false;
        descriptionInput.value = '';
        document.getElementById("file-name").textContent = "";
        document.getElementById("image-preview").style.display = "none";

        imageInput.value = "";
        imageInput.style.display = "block";

        modalTitle.textContent = 'Dori qo\'shish';
        form.action = '{% url "dori" %}';
    });

    editButtons.forEach(button => {
        button.addEventListener('click', function () {
            const id = this.getAttribute('data-id');
            const productId = this.getAttribute('data-product_id');
            const name = this.getAttribute('data-name');
            const price = this.getAttribute('data-price');
            const spic = this.getAttribute('data-spic');
            const package_code = this.getAttribute('data-package_code');
            const small_product = this.getAttribute('data-small_product')==="True";
            const description = this.getAttribute('data-description');
            const image = this.getAttribute('data-image');

            productIdInput.value = productId;
            titleInput.value = name;
            priceInput.value = price;
            spicInput.value = spic;
            package_codeInput.value = package_code;
            small_productInput.checked = small_product;
            
            descriptionInput.value = description;
            modalTitle.textContent = name + ' dorini tahrirlash';

            form.action = `/dori/${id}/`;

            if (image) {
                imagePreview.style.display = "block";
                fileNameSpan.textContent = image.split('/').pop();
                imageInput.style.display = "none";
            } else {
                imagePreview.style.display = "none";
                fileNameSpan.textContent = "";
                imageInput.style.display = "block";
            }
        });
    });

    const deleteButtons = document.querySelectorAll('.delete-button');
    const deleteModal = document.getElementById('deleteDoriModal');
    const deleteForm = deleteModal.querySelector('form');

    deleteButtons.forEach(button => {
        button.addEventListener('click', function () {
            const id = this.getAttribute('data-id');
            deleteForm.action = `/dori/delete/${id}/`;

        });
    });

});


        // Checkbox functionality
        const selectAll = document.getElementById('select-all');
        selectAll.addEventListener('change', () => {
            const checkboxes = document.querySelectorAll('.row-checkbox');
            checkboxes.forEach(checkbox => {
                checkbox.checked = selectAll.checked;
            });
        });

        const rowCheckboxes = document.querySelectorAll('.row-checkbox');
        rowCheckboxes.forEach(checkbox => {
            checkbox.addEventListener('change', () => {
                // If not all row checkboxes are selected, uncheck "select-all"
                if (![...rowCheckboxes].every(cb => cb.checked)) {
                    selectAll.checked = false;
                } else {
                    selectAll.checked = true;
                }
            });
        });
    </script>
{% endblock %}